<html>
  <head>
    <title>Rotas</title>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <style type="text/css" media="screen">
    .ponto{
      padding-bottom: 5px;
      padding-right: 5px;
    }  
   </style>

  </head>
  <body>

      <div class="pure-g">

        <div class="pure-u-1-5" style="text-align:center;padding-top: 5%;">
          <div class="pure-g" style="text-align: center;padding-left: 5%;">
           <form class="pure-form">
                <fieldset class="pure-u-1-1">
                  <div class="pure-g">
                    <div class=pure-u-1-1>
                      <legend class="pure-u-1-1">Lista de Pontos</legend>  
                    </div>
                  </div>
                  <div class="pure-g ponto">
                    <div class="pure-u-4-4">
                      <input type="text" name="ponto" placeholder="Ponto 1" class="pure-u-4-5">
                      <button id="add-ponto" class="pure-button pure-button-primary pure-u-1-5">+</button>
                    </div>
                  </div>
                  <div class="pure-g ponto">
                    <div clas="pure-u-4-4">
                      <input type="text" name="ponto" placeholder="Ponto 2" class="pure-u-4-5">
                      <button class="remove-ponto pure-button pure-button-primary pure-u-1-5">-</button>  
                    </div>
                  </div>

                  <div class="pure-g">
                    <div class="pure-u-1-4" style="text-align: center;">
                    <button type="submit" class="pure-button pure-button-primary">Definir Rota</button>
                    </div>
                  </div>
                </fieldset>
            </form>
          </div>
        </div>
        <div class="pure-u-4-5" style="text-align:center;">
          <div class="pure-g">
            <div class="pure-u-1-1">
              <div id="mapa"></div>
            </div>
          </div>
        </div>
      </div>





    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        var total_pontos = 0;
        $("#add-ponto").click(function(event) {
          total_pontos = $('[name="ponto"]').length;
          total_pontos++;
          console.log(total_pontos);
          $("div .ponto").last().after('<div class="pure-g ponto"><div clas="pure-u-4-4"><input type="text" name="ponto" placeholder="Ponto '+total_pontos+'" class="pure-u-4-5"><button class="remove-ponto pure-button pure-button-primary pure-u-1-5">-</button></div></div>');
          event.preventDefault();
        });

        $(document).on('click', '.remove-ponto', function(event) {
          $(this).closest('.ponto').remove();
          $('[name="ponto"]').map(function(index, elem) {
            index++;
           $(this).attr("placeholder", "Ponto "+index);
          })
          event.preventDefault();
        });
      });
    </script>

    <script>
      map = new OpenLayers.Map("mapa");
      map.addLayer(new OpenLayers.Layer.OSM());

      var lonLat = new OpenLayers.LonLat( -0.1279688 ,51.5077286 )
            .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            );

      var zoom=16;

      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);

      markers.addMarker(new OpenLayers.Marker(lonLat));

      map.setCenter (lonLat, zoom);
    </script>
  </body>
</html>
